<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalog.name %>
</p>

<p>
  <strong>Total items:</strong>
  <%= @catalog.total_items %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @catalog.total_cost %>
</p>

<p>
  <strong>Avg cost:</strong>
  <%= @catalog.avg_cost %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
